/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../home
  */
.ruller{
  content: "";
      display: block;
      -webkit-box-flex: 100;
      -ms-flex: 100;
      flex: 100;
      border-bottom: 4px solid #f0f1f5;
      -webkit-transform: translateY(-12px);
      -ms-transform: translateY(-12px);
      transform: translateY(-12px);
}

  .link-active {
    color: #4f83e7 !important;
    border: 1px white;;
    border-radius: 1.5rem !important;
    background-color: white;
    padding:2px 11px 5px !important;
    font-family: Montserrat Regular;
    box-shadow: 0 1px 3px 0 RGBa(0,0,0,.1),0 1px 2px 0 RGBa(0,0,0,.06) !important;
      }


      @font-face {
        font-family: 'Montserrat Regular';
          src: url('../../fonts/Montserrat-Regular.ttf');
      }

      @font-face {
        font-family: 'Assistant-Light';
          src: url('../../fonts/Assistant-Light.ttf');
      }

      @font-face {
        font-family: 'Assistant Regular';
          src: url('../../fonts/Assistant-Regular.ttf');
      }

      @font-face {
        font-family: 'Montserrat';
          src: url('../../fonts/Montserrat-Light.ttf');
      }
