<div class="card card-suggestion_wrapper card-white grid-margin">
    <div class="card-heading clearfix">
        <h4 class="card-title">Empresas que menos resolvem</h4>
    </div>
<ul>
    <hr />
    <li class="card-heading clearfix mt-3">
        <p class="card-title">Nome das empresas</p>
    </li>

    <hr />
    <li class="card-heading clearfix mt-3">
        <p class="card-title">Nome das empresas</p>
    </li>

    <hr />
    <li class="card-heading clearfix mt-3">
        <p class="card-title">Nome das empresas</p>
    </li>

    <hr />
    <li class="card-heading clearfix mt-3">
        <p class="card-title">Nome das empresas</p>
    </li>
</ul>
</div>
