<%provide(:title, @user.nome)%>
<div class="contain-scroller">
<div class="main-panel">
  <div class="container">
    <div class="row">
    <!-- start page main wrapper -->
      <div class="col-lg-12 col-xl-9">
                <%= render 'shared/sobre_user' %>
              </div>
</div>

</div>
</div>
</div>
