<div class="content-wrapper">
<div class="row">
  <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Selecione o estado</h4>
                      <div class="form-group">
                        <%= form_for(@assunto, url: admin_assuntos_path)  do  |f| %>
                          <%= f.text_field :nome, autofocus: true %>
                      </div>
            <%= f.submit "Salvar mudanças", class: "btn btn-success btn-fw" %>
              <% end %>
                      </div>

                  </div>

                </div>
              </div>
            </div>
