<div class="media mb-4 items-list-2">
  <img class="img-fluid rounded mr-3" width="85" src="./images/dish/pic5.jpg" alt="DexignZone">
  <div class="media-body col-6 px-0">
    <h5 class="mt-0 mb-1 text-black"><%= q.assunto.nome %></h5>
    <small class="text-primary font-w500 mb-3">SPAGETHI</small>
    <span class="text-secondary mr-2 fo"></span>
    <ul class="fs-14 list-inline">
      <li class="mr-3">Serves for 4 Person</li>
      <li>24mins</li>
    </ul>
  </div>
  <div class="media-footer align-self-center ml-auto d-block align-items-center d-sm-flex">
    <h3 class="mb-0 font-w600 text-secondary">$12.56</h3>
    <div class="dropdown ml-3 ">
      <button type="button" class="btn btn-secondary sharp tp-btn-light " data-toggle="dropdown">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
