<div class="content-wrapper">
<div class="row">
<div class="col-lg-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Lista de asuntos</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
														<th>Nome</th>
                          </tr>
                        </thead>
												<%@avaliacaos.each do |a|%>
                        <tbody>
                          <tr>
                            <td><%= a.nome%> </td>
                        		<td>
																		<%=link_to 'Mostrar', action: 'show', id: a%>
														</td>

														<td>
															<%=link_to 'Editar', action: 'edit', id: a%>
														</td>

														<td>
															<%=link_to 'Apagar', {action: 'destroy', id: a}, {method: "delete"} %>
														</td>

                          </tr>
											  </tbody>
											<%end%>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
						</div>
					</div>
