<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">

      <p id="notice" class="mt-2 text-green-500"><%= notice %></p>

      <div data-controller="live-search">
        <%= render partial: "shared/search_form" %>

        <div data-target="live-search.results" class="mt-4">
          <div class="grid-slider-header flex items-center">
            <div class="mr-4">
              <h2 class="text-white text-2xl font-bold">EMPRESAS</h2>
            </div>
            <div class="ruler h-px flex-grow bg-gray-300"></div>
          </div>

          <div class="grid grid-cols-5 md:grid-cols-3 sm:grid-cols-2 gap-4 mt-4">
            <% @empresas.each do |empresa| %>
              <%= render partial: "empresa", locals: { empresa: empresa } %>
            <% end %>
          </div>
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
