<%provide(:url, admin_users_path(@user))%>
  <div class="content-wrapper">
  <div class="row">
    <div class="col-md-3 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Selecione a empresa</h4>
                        <div class="form-group">
                          <%= form_for(@user, url: admin_user_path)  do  |f| %>
                            <%= f.collection_select(:empresa_id, Empresa.order(:id), :id, :nome, {:prompt=> 'Selecione' }, {:class=>'form-control form-control-sm'} ) %>
                        </div>
              <%= f.submit "Salvar mudanças", class: "btn btn-success btn-fw" %>
                <% end %>
                        </div>

                    </div>

                  </div>
                </div>
              </div>
