
        <!-- sidebar -->
       <div class="main_sidebar">
           <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

           <!-- sidebar header -->
           <div class="sidebar-header">
               <!-- Logo-->
               <div id="logo">
         <%= link_to "Reclame!AO", root_path, class:"navbar-brand", style:"font-size: xx-large; font-family: ui-sans-serif; font-weight: bold;color: white;"%>
               </div>
               <span class="btn-close" uk-toggle="target: #wrapper; cls: collapse-sidebar mobile-visible"></span>
           </div>


       </div>
